<!-- Site créé par Thomas Lemartinel et Erwann Coden -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Lemartinel Thomas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../static/imgs/logo.png"/>
    
    <link rel="stylesheet" href="../static/css/index.css"/>
</head>

<body>
    <!-- <div class="bg"></div> -->
    <header>
        <nav>
            <img src="../static/imgs/logo.png" alt="Logo de Thomas Lemartinel">
            
            <ol>
                <li><a href="#about">A propos</a></li>
                <li><a href="#about">Compétences</a></li>
                <li><a href="#about">Projets</a></li>
                <li><a href="#about">Contact</a></li>
                <li><a href="#about">Résumé</a></li>
            </ol>

        </nav>
    </header>

    <main>
        <div id="home">
            <h1>Lematinel Thomas</h1>
            <h2>Développeur Web</h2>
            <p>Je suis un développeur web, occasionellement web designer ou encore développeur d'applications de bureau.</p>
            <!-- <img src="/static/imgs/scroll.gif" alt=""> -->
        </div>

        <hr class="category-separator">
        
        <div id="about">
            <h3 class="category-title">A propos</h3>
            <div id="aboutgrid">
                <div>
                    <p>Bonjour ! Je m'appelle Thomas et je passe mon temps créer tout sortes de choses sur internet. Mon intêret particulier pour le développement web a commencé en 2018 quand j'avais décidé de créer un blog autour d'un jeu que j'avais créé. Il s'avère que a force de créer des petits sites pour des jeux ou des communautés j'ai beaucoup appris sur le HTML/CSS.</p>
                    <br>
                    <p>Entre temps je suis rentré en licence d'informatique. J'ai donc appris à magner des langages tels que Java, Python, C ou Kotlin dans le cadre de conseptions logicielles. J'ai ensuite appliqué mes connaissances pour m'auto-former au backend nottament grâce a Python et son framework flask.</p>
                    <br>
                    <p>Aujourd'hui je développe toujours des petits sites mais en freelance. Vous pourrez voir mon travail en cliqant <a href="#projects">ici</a>.</p>
                </div>

                <div>
                    <img src="../static/imgs/memyselfi.jpg" alt="Thomas Lemartinel picture" id="selfie">
                </div>
            </div>
        </div>
        
        
    </main>
    
    
    <footer>
        <hr class="category-separator">
        <p>Copyright <span></span> - Thomas Lemartinel</p>
    </footer>

</body>
</html>
